[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "abe"]
	path = abe
	url = https://github.com/cran/abe
	shallow = true
	registered = true
